/NetBeans/9-Collection(netbeans)/nbproject/private/
/NetBeans/9-Collection(netbeans)/build/
/NetBeans/10-modularisasi/nbproject/private/
/NetBeans/10-modularisasi/build/
/NetBeans/10-modularisasi/dist/
/NetBeans/10-modularisasi/jdbc_mhs_service/nbproject/private/
/NetBeans/10-modularisasi/jdbc_mhs_service/build/
/NetBeans/10-modularisasi/jdbc_mhs_service_GUI/build/
/NetBeans/10-modularisasi/jdbc_mhs_service_GUI/nbproject/private/
/NetBeans/10-modularisasi(netbeans)/build/
/NetBeans/10-modularisasi(netbeans)/dist/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service/build/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service/nbproject/private/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service_GUI/build/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service_GUI/nbproject/private/
/NetBeans/10-modularisasi(netbeans)/nbproject/private/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service_GUI(1)/nbproject/private/
/NetBeans/10-modularisasi(netbeans)/jdbc_mhs_service_GUI(1)/build/
